<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="data:," />
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
    integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
  <link rel="stylesheet" href="/static/style.css">
  <title>{{title}}</title>
</head>

<body

    hx-headers='{"X-CSRF-TOKEN": "{{csrfToken}}"}' >
  <nav>
    <ul>
      <li class="logo">
        <a href="/">Stikl</a>
      </li>
      <li class="auth">
        {{auth}}
      </li>
    </ul>
  </nav>
  <main>
    {{content}}
  </main>

  <footer>
    Stikl - A very unfinished product
  </footer>

</body>

</html>
