button,
.btn {
  background: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: center;

  color: inherit;
  border: none;
  border: 0.1rem solid;
  font-size: 0.9rem;
  padding: 0.5rem 0.7rem;

  font-weight: bold;

  color: var(--fg1);
  background: var(--bg2);
  border-color: var(--bg2);

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  display: inline-flex;
  gap: 0.2rem;
  border-radius: 0.3rem;

  transition: all 100ms ease-out;

  &:hover {
    background-color: var(--bg3);
    color: var(--fg1);
    text-decoration: none;
  }

  &:focus {
    color: var(--fg1);
    background-color: var(--bg2);
  }

  &:active {
    color: var(--fg3);
    background: var(--bg3);
    box-shadow: inset 0.05rem 0.1rem 0.1rem var(--shadow);
  }

}
