.chat-page {
  display: flex;
  width: 95dvw;
  height: 80dvh;
  /* TODO: Find better way to make it not scroll */
  margin: 2rem;
  box-sizing: border-box;

  h1 {
    margin: 0;
  }

  menu {
    padding-left: 0;
    list-style: none;
    align-self: start;

    flex-basis: 20%;
    color: var(--fg4);

    a {
      text-decoration: none;
    }

    li {
      list-style: none;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      border-top-left-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;

      a {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
      }

      &:not(.active) {
        a:hover {
          background-color: var(--bg1);
          transition: all 500ms ease-out;
          border-radius: 0.3rem;
        }
      }

      &.active {
        /* dont link on active */
        background-color: var(--bg);
        position: relative;
        overflow: hidden;

        &:after {
          display: block;
          content: ".";
          font-size: 0;
          color: transparent;
          height: 8px;
          width: 100%;
          padding-left: 4px;
          position: absolute;
          bottom: -4px;
          left: -4px;
          background: var(--shadow);
          z-index: 2;
          box-shadow: inset 0.3rem 0.3rem 0.1rem var(--shadow);
        }
      }

      h5 {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0;
      }

      p {
        font-size: 1rem;
        margin: 0;
        margin-bottom: 0.2rem;
        color: var(--bg3);
      }

      .timestamp {
        text-align: right;
        font-style: italic;
        font-size: 0.75rem;
        margin: 0;
        color: var(--bg2);
      }

      &:not(.active)&.unread {
        h5 {
          color: var(--blue-dim);
          animation: pulseColor 1.5s alternate infinite;
        }
        p,
        .timestamp {
          color: var(--fg1);
        }
      }
    }
  }

  .read {
    width: 100%;
    text-align: center;
    font-size: 0.85rem;
    color: var(--bg2);
    margin: 0;
  }
}

.chat-area {
  align-self: start;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-radius: 0.3rem;
  padding: 1rem;
  background-color: var(--bg);

  box-shadow: 0.1rem 0.3rem 0.1rem var(--shadow);
  position: relative;

  form {
    align-self: center;
  }
}

.chat-message {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 0.1rem solid;
  border-radius: 0.3rem;
  border-color: var(--bg2);
  background-color: var(--bg1);

  transition: all 100ms ease-out;
  width: 30rem;

  &.ours {
    margin-right: 2rem;
    align-self: end;

  }

  &:not(.ours) {
    margin-left: 2rem;

  }

  p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--fg1);
    margin-bottom: 0.2rem;
  }

  .author {
    font-style: italic;
    font-size: 0.875rem;
    color: var(--fg3);
  }

  .timestamp {
    text-align: right;
    font-style: italic;
    font-size: 0.75rem;
    color: var(--bg3);
  }

}

#chat {
  flex: 1;
  /* Ensures it takes available space */
  overflow-y: auto;
  /* Enables scrolling only here */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

@keyframes pulseColor {
  0% {
    color: var(--fg1);
  }

  100% {
    color: var(--blue-dim);
  }
}
