main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

nav {
  margin: 0rem;
  display: flex;
  min-width: 0;
  padding: 0.2rem 2rem;

  a {
    font-style: normal;
  }

  color: var(--bg2);

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    min-width: 0;
    padding: 0;
    margin: 0;
    height: fit-content;

    li {
      align-content: center;
    }
  }

  .logo {
    align-self: flex-start;
    a {
      font-size: 2rem;
      font-weight: 1000;
      text-transform: uppercase;
      letter-spacing: -0.26rem;
      &:hover {
        text-shadow: 0.1rem 0.4rem 0.1rem var(--shadow);
        color: var(--bg4);
        text-decoration: none;
      }
    }
  }
  button, .btn {
    padding: 0.2rem 0.5rem;
  }
  .icon {
    stroke-width: 0.15rem;
    width: 1.4rem;
    height: 1.4rem;
  }
  a:hover {
    text-shadow: 0.1rem 0.4rem 0.1rem var(--shadow);
    color: var(--bg4);
  }
}


footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 2rem;
  font-style: italic;

  color: var(--bg2);
}
