@import url("theme.css");
@import url("toasts.css");
@import url("modal.css");
@import url("chat.css");
@import url("layout.css");
@import url("button.css");


body {
  margin: 0;
  overflow-y: auto;
  justify-content: center;
  background: var(--bg_h);
  color: var(--fg2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Helvetica", sans-serif;
}

dl {
  text-align: left;
  gap: 0.5rem;
  display: flex;
  margin: 0;
  flex-direction: column;

  dd {
    margin-left: 1rem;
    font-size: 0.9rem;
    font-style: italic;
    color: var(--fg3);
  }

}

#locationOptions {
  max-height: 20rem;
  overflow-y: auto;
}

a {
  text-decoration: inherit;
  color: inherit;
  font-style: italic;

  &:hover {
    text-decoration: underline;
    transition: all 300ms ease-in-out;
  }
}

.emphasis {
  font-style: italic;
  color: var(--fg2);
}

fieldset {
  border: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.8rem 0.5rem;
  align-items: center;

  label {
    font-weight: bold;
    color: var(--fg3);
    text-align: right;
  }
}

input {
  background: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left;
  color: inherit;
  border: none;
  border: 0.1rem solid;
  padding: 0.3rem;

  background-color: var(--bg_s);
  border-radius: 0.3rem;

  border-color: var(--bg2);
  transition: all 100ms ease-out;

  &:hover {
    border-color: var(--bg3);
  }

  &:focus {
    color: var(--fg1);
    background-color: var(--bg2);
    border-color: var(--bg3);
  }

  &:user-invalid {
    border-color: var(--red-dim);

  }

  color: var(--fg4);
}




/* Page transitions */
main>* {
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}

main>.htmx-added {
  transform: translateX(100dvw);
  opacity: 0;
}

main.htmx-swapping>* {
  transform: translateX(-100dvw);
  opacity: 0;
  transition: transform 300ms ease-in, opacity 300ms ease-in;
}

.FormCard {

  width: 600px;

  @media (max-width: 1000px) {
    width: 90dvw;

  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  text-align: center;
  border-radius: 1rem;
  border: 0.2rem solid;
  border-color: var(--bg2);
  background: var(--bg1);
  box-shadow: 0.1rem 0.3rem 0.5rem var(--shadow);
  color: var(--fg1);
  overflow: hidden;
  padding: 0.8rem;

  p {
    margin: 0.3rem;
  }

  .error {
    min-height: 1.5em;
  }


  h1 {
    margin: 0;
    color: var(--yellow-dim);
  }

  form {
    height: 100%;
    align-content: center;

  }

}

.InputWithButton {
  display: inline-flex;
  background-color: var(--bg1);
  border-radius: 0.3rem;
  color: var(--fg3);

  input,
  button {
    border: 0.1rem solid;
    transition: all 100ms ease-out;

  }

  input {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  button {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

.error {
  color: var(--red);
  font-style: italic;
  padding: 0;
}


.SearchResults {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 1rem;
  max-width: 60dvw;

  @media (max-width: 1500px) {
    max-width: 95dvw;
  }


}

search {
  form {
    /*todo remove inner div. is dumb */
    display: flex;
    gap: 1rem;
    text-align: center;
    align-items: center;

    label {
      font-weight: bolder;

    }

  }
}

.icon {
  stroke-width: 0.2rem;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  overflow: hidden;
  margin: 0.2rem;

  &.thin {
    stroke-width: 0.1rem;

  }

  svg {
    position: relative;
  }
}

.PlantCard {
  display: flex;
  flex-direction: column;
  aspect-ratio: 2.25 / 3.5;
  width: 15rem;
  cursor: pointer;

  @media (max-width: 1000px) {
    width: 12rem;

  }

  font-size: 0.9rem;

  border-radius: 1rem;
  border: 0.2rem solid;
  border-color: var(--bg2);
  background: var(--bg1);
  box-shadow: 0.1rem 0.3rem 0.5rem var(--shadow);
  color: var(--fg1);
  overflow: hidden;
  transition: all 300ms ease-out;
  padding: 0.8rem;

  &:hover {
    box-shadow: 0.3rem 0.9rem 0.5rem var(--shadow);
    border-color: var(--yellow-dim);
  }

  h4 {
    margin: 0;
    text-transform: capitalize;
  }

  p {
    margin: 0;

  }

  .Actions {
    list-style-type: none;
    display: flex;
    align-items: stretch;
    justify-content: space-between;


    width: 100%;
    min-width: 0;
    padding: 0rem;
    margin: 0;
    background: var(--bg2);
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 0.5rem;


    li {
      flex: 1 0 auto;
    }

    a,
    button {
      width: 100%;

      display: block;
      background: none;
      transition: all 300ms ease-out;
      color: inherit;
      border: none;
      border-bottom: 0.2rem solid;
      border-color: var(--bg2);
      font: inherit;
      cursor: pointer;
      outline: inherit;
      text-align: center;
      font-size: 1.5rem;
      padding: 0rem 0.5rem;
      color: var(--bg1);
      font-weight: bold;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      &:hover {
        /*color: var(--fg2);*/
        border-color: var(--yellow-dim);
      }

      &:active {
        color: var(--fg3);
        background: var(--bg3);
        box-shadow: inset 0.05rem 0.1rem 0.1rem var(--shadow);
      }

      &.on {
        color: var(--yellow-dim);

        &:hover {
          /*color: var(--bg1);*/
        }
      }
    }
  }

  .ScientificName {
    padding-left: 0.2rem;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: lighter;
    color: var(--fg4);
  }

  .Wiki {
    margin-top: auto;
    text-align: end;
    font-size: 0.75rem;
    font-weight: lighter;
    color: var(--blue);

    &:hover {
      color: var(--blue);
    }
  }

  img {
    filter: grayscale(20%);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 0.15rem solid;
    border-bottom: 0;
    border-color: var(--bg2);
    border-radius: 0.5rem 0.5rem 0 0;
    max-height: 50%;
    width: 100%;
    object-fit: fill;
  }
}

.AuthCode {
  /* TODO: figure out how we get around important.. */
  font-family: monospace !important;
  letter-spacing: 0.5rem;
  font-weight: bolder !important;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}