<p class="read" _="on load repeat in .read if it is not me remove it end end end">
  {{person}} last read 
  <span data-timestamp="{{timestamp}}"
    _="on load repeat forever
       set t to (my.dataset.timestamp as a Date)

       set diff to (Date.now() - t) / 1000
       if diff < 10 
         put 'just now' into my.innerHTML 
       else if diff < 60 
         put Math.floor(diff) + ' seconds ago' into my.innerHTML 
       else if diff < 3600 
         put Math.floor(diff / 60) + ' minutes ago' into my.innerHTML 
       else if diff < 86400 
         put Math.floor(diff / 3600) + ' hours ago' into my.innerHTML 
       else if diff < 172800 
         put 'yesterday' into my.innerHTML 
       else 
         put t.toLocaleDateString('en-GB') + ' ' + t.toLocaleTimeString('en-GB') into my.innerHTML 
       end
       wait 40s
    end">
  </span>
</p>
