<form hx-post="/auth/new" hx-target="this" hx-swap="outerHTML">
  <fieldset>
    <label for="userName">
      User name (Unique)
    </label>
    <input required type="text" id="userName" pattern="^[a-zA-Z][\w\d_]*$" name="userName" value="{{userName?}}"
      placeholder="TheCount" autocomplete="given-name" />
    <label for="firstName">
      First Name
    </label>
    <input required type="text" id="firstName" name="firstName" value="{{firstName?}}" placeholder="Alexandre"
      autocomplete="given-name" />
    <label for="lastName">
      Last Name
    </label>
    <input required type="text" id="lastName" name="lastName" value="{{lastName?}}" placeholder="Dumas"
      autocomplete="family-name" />
    <label for="location">
      Location
    </label>
    <input type="text" name="locationQuery" placeholder="Marseille" autocomplete="shipping address-level2"
      hx-trigger="input changed delay:1000ms, keyup[key=='Enter']" hx-get="/location/form/search"
      hx-target="#locationOptions" hx-swap="innerHTML" />
  </fieldset>
  <dl id="locationOptions">
    {{selectedLocationName?}}
  </dl>
  {{ ..errors? }}
  <button type="submit">Sign Up</button>
</form>
