<section id="species-{{id}}" class="PlantCard">
  <img src="/images/species/regular/{{id}}.jpg" title="Image of {{commonName}}" />
  <ul class="Actions" hx-target="closest .PlantCard" hx-swap="outerHTML">
    <li>
      {{wantButton}}
    </li>
    <li>
      <button hx-post="{{url}}/{% if has %}unhas{% else %}has{% end %}" class="{%if has %}on{% end %}">
        ✓
      </button>
    </li>
  </ul>
  <h4>{{commonName}}</h4>
  <p class="ScientificName">{{scientificName}}</p>
  {% if hasDescription %}<p>{{description}}</p>{% end %}
  {% if hasWikiLink %}<a class="Wiki" href="{{WikiLink}}">Wikipedia</a>{% end %}
</section>
