<form hx-post="/profile/location" hx-target="this" hx-swap="outerHTML" _="on submit or keyup from #locationQuery debounced at 200ms
      if the event's type is 'submit' or the event's keyCode is 13 halt the event otherwise
      trigger submit on me
    end">
  <fieldset>
    <label for="locationQuery">
      Location
    </label>
    <input type="text" name="locationQuery" placeholder="{{selectedLocationName?}}"
      autocomplete="shipping address-level2" hx-trigger="input changed delay:1000ms, keyup[key=='Enter']"
      hx-get="/profile/location/search" hx-target="#profileLocationOptions" hx-swap="innerHTML" />
  </fieldset>
  <dl id="profileLocationOptions">
  </dl>
</form>
