<search>
  <form hx-get="/" hx-target="main" hx-push-url="true" class="SearchForm">
    <div class="InputWithButton">
      <input type="search" id="query" name="q" value="{{query?}}" placeholder="Search with me!"
        hx-trigger="search, input changed delay:500ms, keyup[key=='Enter']" />
      <button type="submit">
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="18.65" y2="18.65"></line>
          </svg>
        </span>
      </button>
    </div>
</search>
